function Main.main 3
call Main.getWordList 0
pop local 1
push local 1
call WordList.print 1
pop temp 0
call NotAHashMap.new 0
pop local 0
push local 0
push constant 5
call String.new 1
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 5
call String.new 1
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
call NotAHashMap.add 3
pop temp 0
push local 0
push constant 8
call String.new 1
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 8
call String.new 1
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
call NotAHashMap.add 3
pop temp 0
call Output.println 0
pop temp 0
push local 0
push constant 5
call String.new 1
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
call NotAHashMap.get 2
pop local 2
push local 2
call StringProcessing.insertionSort 1
pop temp 0
call Output.println 0
pop temp 0
push local 2
call Output.printString 1
pop temp 0
push constant 0
return
function Main.getWordList 1
push constant 3
call String.new 1
push constant 99
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 0
call WordList.new 2
pop local 0
push constant 4
call String.new 1
push constant 98
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push local 0
call WordList.new 2
pop local 0
push constant 5
call String.new 1
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
push local 0
call WordList.new 2
pop local 0
push constant 5
call String.new 1
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 112
call String.appendChar 2
push local 0
call WordList.new 2
pop local 0
push constant 3
call String.new 1
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push local 0
call WordList.new 2
pop local 0
push constant 3
call String.new 1
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 98
call String.appendChar 2
push local 0
call WordList.new 2
pop local 0
push constant 3
call String.new 1
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push local 0
call WordList.new 2
pop local 0
push constant 5
call String.new 1
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 112
call String.appendChar 2
push local 0
call WordList.new 2
pop local 0
push constant 3
call String.new 1
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 116
call String.appendChar 2
push local 0
call WordList.new 2
pop local 0
push local 0
return
